---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: current-alpha

namespace: current-alpha

namePrefix: alpha-

commonLabels:
  environment: alpha

bases:
  - ../../base

replicas:
  - name: flask-backend
    count: 1
  - name: webui
    count: 1

images:
  - name: registry-dal2.penguintech.io/current-flask-backend
    newTag: latest
  - name: registry-dal2.penguintech.io/current-webui
    newTag: latest

configMapGenerator:
  - name: current-config
    behavior: merge
    literals:
      - LOG_LEVEL=DEBUG
      - RELEASE_MODE=false

secretGenerator:
  - name: current-secrets
    behavior: merge
    literals:
      - DB_USER=alphauser
      - DB_PASS=alphapass
      - SECRET_KEY=alphasecretkey
      - SECURITY_PASSWORD_SALT=alphasalt
      - LICENSE_KEY=PENG-ALPH-XXXX-XXXX-XXXX-ABCD
      - REDIS_PASSWORD=alpharedis
